# CORE WEB SERVER
flask==3.0.0
gunicorn==21.2.0

# DATA & AI ENGINE
pandas==2.1.0
numpy<2.0
scikit-learn==1.3.0
xgboost==2.0.0

# DATABASE & UTILS
SQLAlchemy==2.0.21
requests==2.31.0
python-dateutil==2.8.2
